## Reto 1: Series

### 1. Objetivos:
    - Practicar la creación de `Series` y la indexación básica de éstas
 
---
    
### 2. Desarrollo:

In [2]:
import pandas as pd

#### a) Creación de `Series`

A continuación tenemos unas variables que contienen los nombres de los ejecutivos más importantes de nuestra ya conocida EyePoker Inc. Debajo de eso hay una variable que no ha sido asignada aún:

In [25]:
ejecutivo_1 = 'Marco P.',
ejecutivo_2 = 'Jenny',
ejecutivo_3 = 'Britney Baby',
ejecutivo_4 = 'Pepe Guardabosques',
ejecutivo_5 = 'Lombardo El Destructor'

sueldos = pd.Series([10000,20000,15000,20000,12000], index = [ejecutivo_1,ejecutivo_2,ejecutivo_3,ejecutivo_4,ejecutivo_5])

In [ ]:
diccionario_1 = {ejecutivo_1 : 'Marco P.',
ejecutivo_2 : 'Jenny',
ejecutivo_3 : 'Britney Baby',
ejecutivo_4 : 'Pepe Guardabosques',
ejecutivo_5 : 'Lombardo El Destructor'}

In [23]:
sueldos2 = pd.Series(diccionario_1)
sueldos2

Marco P.                                Marco P.
Jenny                                      Jenny
Britney Baby                        Britney Baby
Pepe Guardabosques            Pepe Guardabosques
Lombardo El Destructor    Lombardo El Destructor
dtype: object

In [10]:
sueldos

Marco P.                  10000
Jenny                     20000
Britney Baby              15000
Pepe Guardabosques        40000
Lombardo El Destructor    12000
dtype: int64

Tu tarea es crear una `Serie` de `pandas` y asignarla a la variable `sueldos`. La información que hay dentro de esta variable son (oh, sorpresa) los sueldos de dichos ejecutivos.

Los valores de la `Serie` serán los sueldos, mientras que el índice de la `Serie` serán los nombres de los ejecutivos.

Crea una `Serie` y asígnala a `sueldos` de manera que el código que tenemos debajo funcione correctamente:

In [19]:
print('== Sueldos de los principales ejecutivos de EyePoker Inc. ==\n')

print(f'{("Ejecutivo"):25} | {("Sueldo")}')
print('----------------------------------------')
print(f'{ejecutivo_1:25} | ${(sueldos.loc[ejecutivo_1])} MXN')
print(f'{ejecutivo_2:25} | ${(sueldos.loc[ejecutivo_2])} MXN')
print(f'{ejecutivo_3:25} | ${(sueldos.loc[ejecutivo_3])} MXN')
print(f'{ejecutivo_4:25} | ${(sueldos.loc[ejecutivo_4])} MXN')
print(f'{ejecutivo_5:25} | ${(sueldos.loc[ejecutivo_5])} MXN')

== Sueldos de los principales ejecutivos de EyePoker Inc. ==

Ejecutivo                 | Sueldo
----------------------------------------
Marco P.                  | $10000 MXN
Jenny                     | $20000 MXN
Britney Baby              | $15000 MXN
Pepe Guardabosques        | $40000 MXN
Lombardo El Destructor    | $12000 MXN

<details><summary>Solución</summary>

```python
sueldos = pd.Series([120000, 110000, 130000, 110000, 130000], index=[ejecutivo_1, ejecutivo_2, ejecutivo_3, ejecutivo_4, ejecutivo_5])
```
    
</details>