## Reto 1: Casting

### 1. Objetivos:
    - Aplicar diversas técnicas de casting a un dataset nuevo
 
---
    
### 2. Desarrollo:

#### a) Transformando tipos de datos

Vamos a trabajar con una versión un poco modificada del dataset que creaste en la sesión pasada. Si bien recuerdas, al final de la sesión pasada automatizamos un programa de Python para obtener un `DataFrame` con todos los objetos que orbitaron cerca de la Tierra en Enero y Febrero de 1995. Para construir este dataset, usamos el API gratuito que ofrece la [NASA](https://api.nasa.gov/).

Me tomé la libertad de modificar un poco dicho dataset para que pudiera ser utilizado más efectivamente para los fines de esta sesión. Encontrarás la versión modificada en la ruta '../../Datasets/near_earth_objects-jan_feb_1995-dirty.csv'. Todos los Retos de esta sesión los harás con ese conjunto de datos.

Te recomiendo que al finalizar cada reto guardes la nueva versión modificada de tu dataset bajo un nombre que indique el reto realizado (por ejemplo, 'near_earth_objects-jan_feb_1995-reto_1.csv'), para que puedas ir trabajando incrementalmente a través de los retos y no tengas que repetir procesos. Puedes guardar conjuntos de datos en formato `csv` usando el método `DataFrame.to_csv('ruta')`.

Tu primer Reto consistirá en seguir los siguientes pasos:

1. Lee el dataset y crea un `DataFrame` con él.
2. Realiza una pequeña exploración para familiarizarte con él.
3. Convierte la columna `relative_velocity.kilometers_per_hour` de `object` a `float64`.
4. Convierte la columna `close_approach_date` a tipo de dato `datetime64[ms]` usando el método `astype` y un diccionario de conversión.
5. Convierte la columna `epoch_date_close_approach` a tipo de dato `datetime64[ms]` usando el método `to_datetime`.
6. Asigna el `DataFrame` resultante a la variable `df_reto_1`.
7. Guarda tu resultado en un archivo .csv.

In [66]:
import pandas as pd

In [67]:
df_reto_1 = pd.read_csv("C:/Users/LLerma/Google Drive/Analisis de Datos/M3 - Introduccion a Python/Files/near_earth_objects-jan_feb_1995-dirty.csv")

In [68]:
df_reto_1

,Unnamed: 0,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description
0,0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,789467580000,earth,16.142864,58114.3086669449,Near-Earth-asteroid-orbits-similar-to-that-o...
1,1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,789491340000,earth,12.351044,44463.7577343496,Near-Earth-asteroid-orbits-which-cross-the-E...
2,2,3516633-(2010 HA),False,44.111820,98.637028,1995-01-07,789446820000,earth,6.220435,Unknown,Near-Earth-asteroid-orbits-similar-to-that-o...
3,3,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,789513900000,earth,22.478615,80923.0150213416,Near-Earth-asteroid-orbits-similar-to-that-o...
4,4,3843493-(2019 PY),False,22.108281,49.435619,1995-01-07,789446700000,earth,4.998691,17995.2883553078,Near-Earth-asteroid-orbits-similar-to-that-of...
...,...,...,...,...,...,...,...,...,...,...,...
328,328,2267136-267136 (2000 EF104),False,441.118200,986.370281,1995-02-21,793340220000,earth,16.180392,58249.4101939976,Near-Earth-asteroid-orbits-similar-to-that-o...
329,329,3360486-(2006 WE4),False,441.118200,986.370281,1995-02-21,793381440000,earth,15.106140,54382.1046394622,Near-Earth-asteroid-orbits-which-cross-the-E...
330,330,3656919-(2014 BG3),False,160.160338,358.129403,1995-02-21,793368480000,earth,20.343173,73235.4235168198,An-asteroid-orbit-contained-entirely-within-t...
331,331,3803762-(2018 GY4),False,421.264611,941.976306,1995-02-21,793371240000,earth,29.732426,107036.7330578476,Near-Earth-asteroid-orbits-similar-to-that-o...
332,332,3989652-(2020 CH1),False,21.525586,48.132673,1995-02-21,793404900000,earth,6.998083,Unknown,Near-Earth-asteroid-orbits-similar-to-that-of...

In [69]:
df_reto_1.dtypes

Unnamed: 0                                            int64
id_name                                              object
is_potentially_hazardous_asteroid                      bool
estimated_diameter.meters.estimated_diameter_min    float64
estimated_diameter.meters.estimated_diameter_max    float64
close_approach_date                                  object
epoch_date_close_approach                             int64
orbiting_body                                        object
relative_velocity.kilometers_per_second             float64
relative_velocity.kilometers_per_hour                object
orbit_class_description                              object
dtype: object

In [70]:
# 3 Convierte la columna relative_velocity.kilometers_per_hour de object a float64.

df_reto_1["relative_velocity.kilometers_per_hour"] = pd.to_numeric(df_reto_1["relative_velocity.kilometers_per_hour"], errors = "coerce")

In [71]:
df_reto_1.dtypes

Unnamed: 0                                            int64
id_name                                              object
is_potentially_hazardous_asteroid                      bool
estimated_diameter.meters.estimated_diameter_min    float64
estimated_diameter.meters.estimated_diameter_max    float64
close_approach_date                                  object
epoch_date_close_approach                             int64
orbiting_body                                        object
relative_velocity.kilometers_per_second             float64
relative_velocity.kilometers_per_hour               float64
orbit_class_description                              object
dtype: object

In [72]:
# 4 Convierte la columna close_approach_date a tipo de dato datetime64[ms] usando el método astype y un diccionario de conversión.

dicc = {"close_approach_date" : "datetime64[ms]"}

df_reto_1 = df_reto_1.astype(dicc)
df_reto_1.dtypes

Unnamed: 0                                                   int64
id_name                                                     object
is_potentially_hazardous_asteroid                             bool
estimated_diameter.meters.estimated_diameter_min           float64
estimated_diameter.meters.estimated_diameter_max           float64
close_approach_date                                 datetime64[ns]
epoch_date_close_approach                                    int64
orbiting_body                                               object
relative_velocity.kilometers_per_second                    float64
relative_velocity.kilometers_per_hour                      float64
orbit_class_description                                     object
dtype: object

In [75]:
# 5 Convierte la columna epoch_date_close_approach a tipo de dato datetime64[ms] usando el método to_datetime.


df_reto_1 ["epoch_date_close_approach"] = pd.to_datetime(df_reto_1 ["epoch_date_close_approach"], errors = "coerce", unit = "ms")
df_reto_1.dtypes

Unnamed: 0                                                   int64
id_name                                                     object
is_potentially_hazardous_asteroid                             bool
estimated_diameter.meters.estimated_diameter_min           float64
estimated_diameter.meters.estimated_diameter_max           float64
close_approach_date                                 datetime64[ns]
epoch_date_close_approach                           datetime64[ns]
orbiting_body                                               object
relative_velocity.kilometers_per_second                    float64
relative_velocity.kilometers_per_hour                      float64
orbit_class_description                                     object
dtype: object

Pídele a tu experta la función de verificación `checar_conversiones` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado:

In [76]:

def checar_conversiones(df_reto_1):
    
    import pandas as pd
    import pandas.api.types as ptypes
    
    assert ptypes.is_float_dtype(df_reto_1['relative_velocity.kilometers_per_hour']), 'Cuidado... La columna `relative_velocity.kilometers_per_hour` no es de tipo `float64`'
    assert ptypes.is_datetime64_any_dtype(df_reto_1['close_approach_date']), 'Cuidado... La columna `close_approach_date` no es de tipo `datetime64[ns]`'
    assert ptypes.is_datetime64_any_dtype(df_reto_1['epoch_date_close_approach']), 'Cuidado... La columna `epoch_date_close_approach` no es de tipo `datetime64[ns]'
    
    print(f'¡Éxito! ¡Todas tus conversiones fueron realizadas adecuadamente!')

checar_conversiones(df_reto_1)

¡Éxito! ¡Todas tus conversiones fueron realizadas adecuadamente!

In [77]:
df.to_csv("C:/Users/LLerma/Google Drive/Analisis de Datos/M3 - Introduccion a Python/Files/My_files/Reto_1.csv")

<details><summary>Solución</summary>

```python
df = pd.read_csv('../../Datasets/near_earth_objects-jan_feb_1995-dirty.csv', index_col=0)
df['relative_velocity.kilometers_per_hour'] = pd.to_numeric(df['relative_velocity.kilometers_per_hour'], errors='coerce')
df = df.dropna(axis=0).reset_index(drop=True)
df['relative_velocity.kilometers_per_hour'] = df['relative_velocity.kilometers_per_hour'].astype(float)
diccionario_de_conversion = {
    'close_approach_date': 'datetime64[ms]'
}
df = df.astype(diccionario_de_conversion)
df['epoch_date_close_approach'] = pd.to_datetime(df['epoch_date_close_approach'], unit='ms')
df_reto_1 = df.copy()
```
    
</details>