Print all the numbers from 1 to n in an int

In [21]:
string = []
n=3
    
for i in range(n):
       string.append(str(i+1))
        
print("".join(string))

123

---

Exercise:
    
    - Starts with 7,8,9
    - Length is 10
    - Just numbers

In [26]:
n = int(input())
numbers = []
TF = []

for i in range(n):
    
        val = input()
    
        numbers.append(str(val))
        
        if (numbers[i].startswith(("7","8","9"))) & (len(val)==10) & val.isdigit():
            TF.append("YES")
        else:
            TF.append("NO")

        
for i in range(len(TF)):
    print(TF[i])

3
156
15
6
NO
NO
NO

---

In [28]:
import re

In [39]:
#str = 'DOSHI <DOSHI@hackerrank.com>'
str = "VIRUS <virus!@variable.:p>"

email = re.search(r'([\w.-]+)@([\w.-]+)', str)
if email:
    print(email.group())
    print(email.group(1))
    print(email.group(2))
    username = email.group(1)
print("----------------")

dom_ext = re.search(r'([\w-]+).(\w\w\w)', email.group(2))

if dom_ext:
    print(dom_ext.group())
    print(dom_ext.group(1))
    print(dom_ext.group(2))
    domain = dom_ext.group(1)
    extension = dom_ext.group(2)
    
#print(username)
#print(domain)
#print(extension)

----------------

AttributeError: 'NoneType' object has no attribute 'group'

In [16]:
rest.rsplit(".",1)

['variable', '']

In [38]:
dom_ext.group()

'hackerrank.com'

In [15]:
#str = 'DOSHI <DOSHI@hackerrank.com>'
string = "VIRUS <virus!@variable.:p>"

mail = email.utils.parseaddr(string)[1]

username, rest = mail.rsplit('@', 1)
domain, ext = rest.rsplit(".",1)
    
print(username)
print(domain)
print(ext)

virus!
variable

- DEXTER <dexter@hotmail.com>

- VIRUS <virus!@variable.:p>

In [46]:
string = ""

In [47]:
import re

In [48]:
n = int(input())
mails = []
c_mails = []

for i in range(n):
    
    string = input()
    string = str(string)
    
  #  ---------a
    email = re.search(r'([\w.-]+)@([\w.-]+)', string)
    if email:
        username = email.group(1)

    dom_ext = re.search(r'([\w.-]+).(\w\w\w)', email.group(2))

    if dom_ext:
        domain = dom_ext.group(1)
        extension = dom_ext.group(2)
    
#    if len(extension) == (1|2|3):
#        c_mails.append(string)

1
fwef

TypeError: 'str' object is not callable

In [12]:
import email.utils

n = int(input())
mails = []
c_mails = []

for i in range(n):
    
    string = str(input())
    mail = email.utils.parseaddr(string)[1]

    username, rest = mail.rsplit('@', 1)
    domain, ext = rest.rsplit(".",1)
    
    #if len(extension) == (1|2|3):
    #    c_mails.append(string)

2
DOSHI <DOSHI@hackerrank.com>
VIRUS <virus!@variable.:p>

In [49]:
 'http://www.test.com/page/TEST2'.rsplit('/', 3)[0]

'http:/'

In [51]:
import email.utils
email.utils.parseaddr('DOSHI <DOSHI@hackerrank.com>')[1]

'DOSHI@hackerrank.com'

In [3]:
import email.utils

string = str(input())
mail = email.utils.parseaddr(string)[1]
print(mail)

DOSHI <DOSHI@hackerrank.com>
DOSHI@hackerrank.com

In [7]:
username, rest = mail.rsplit('@', 1)

In [8]:
a

'DOSHI'

In [10]:
domain, ext = rest.rsplit(".",1)

['hackerrank', 'com']

In [81]:
from copy import deepcopy

arr = [1,2,3,4,5]

In [82]:
min_arr = deepcopy(arr)
max_arr = deepcopy(arr)

max_val = max(arr)
max_ind = arr.index(max_val)
min_arr.pop(max_ind)

min_val = min(arr)
min_ind = arr.index(min_val)
max_arr.pop(min_ind)

In [88]:
sum(min_arr)

10

In [89]:
sum(max_arr)

14

-----

In [2]:
import pandas as pd

In [3]:
df_f = pd.DataFrame(
    data = {
        'Symbol': ['F'] * 5,
        'Date': pd.to_datetime(['2012-01-03', '2012-01-04', '2012-01-05', '2012-01-06', '2012-01-09']),
        'Close': [11.13, 11.30, 11.59, 11.71, 11.80],
    },
).set_index(['Symbol', 'Date']).sort_index()
df_gm = pd.DataFrame(
    data = {
        'Symbol': ['GM'] * 5,
        'Date': pd.to_datetime(['2012-01-03', '2012-01-04', '2012-01-05', '2012-01-06', '2012-01-09']),
        'Close': [21.05, 21.15, 22.17, 22.92, 22.84],
    },
).set_index(['Symbol', 'Date']).sort_index()

In [8]:
df_f

                   Close
Symbol Date
F      2012-01-03  11.13
       2012-01-04  11.30
       2012-01-05  11.59
       2012-01-06  11.71
       2012-01-09  11.80

In [9]:
df_gm

                   Close
Symbol Date
GM     2012-01-03  21.05
       2012-01-04  21.15
       2012-01-05  22.17
       2012-01-06  22.92
       2012-01-09  22.84

In [20]:
pd.merge(df_f.reset_index(level='Date'),
         df_gm.reset_index(level='Date'),
        # how='inner',
         on='Date',
         #suffixes=('_F', '_GM')
).set_index('Date')

            Close_x  Close_y
Date
2012-01-03    11.13    21.05
2012-01-04    11.30    21.15
2012-01-05    11.59    22.17
2012-01-06    11.71    22.92
2012-01-09    11.80    22.84

In [25]:
pd.merge(df_f,df_gm, left_on="Date",right_on="Date")

            Close_x  Close_y
Date
2012-01-03    11.13    21.05
2012-01-04    11.30    21.15
2012-01-05    11.59    22.17
2012-01-06    11.71    22.92
2012-01-09    11.80    22.84