## Reto 5: Filtros

### 1. Objetivos:
    - Practicar el uso de filtros para la obtención de subconjuntos de datos
    
---
    
### 2. Desarrollo:

#### a) Filtrando por fechas, booleanos y valores numéricos

Vamos a trabajar con el mismo dataset que guardaste del Reto anterior. Este Reto consiste en los siguiente:

Usando filtros, crea 3 subconjuntos de datos:

1. Un subconjunto llamado `df_hazardous` que contenga sólo los records que correspondan a los objetos donde `is_potentially_hazardous_asteroid` sea `True` (o `1`).
2. Un subconjunto llamado `df_greater_than_1000` que contenga sólo los records donde el `estimated_diameter.meters.estimated_diameter_max` sea mayor a 1000 metros.
3. Un subconjunto llamado `df_february` que contenga sólo los records que pertenezcan exactamente al mes de Febrero de 1995. Recuerda que los datos en la columna `epoch_date_close_approach` están en milisegundos.

In [2]:
import pandas as pd
import datetime

df = pd.read_csv('C:/Users/LLerma/Google Drive/Analisis de Datos/M3 - Introduccion a Python/Files/My_files/Reto_4.csv')
df.head(2)

,Unnamed: 0,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,07/01/1995,07/01/1995 08:33,Earth,16.142864,58114.30867,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,1,3153509-(2003 HM),1,96.506147,215.794305,07/01/1995,07/01/1995 15:09,Earth,12.351044,44463.75773,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017

In [3]:
df_hazardous = df[df["is_potentially_hazardous_asteroid"] ==1]

In [4]:
df_bigger_than_1000 =  df[df["estimated_diameter.meters.estimated_diameter_max"] > 1000]

In [5]:
df["epoch_date_close_approach"] = pd.to_datetime(df["epoch_date_close_approach"])

In [6]:
df_february = df[(df["epoch_date_close_approach"] > "1995-01-31") & (df["epoch_date_close_approach"] < "1995-03-01") ]
df_february

,Unnamed: 0,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
33,33,3553279-(2010 XB24),1,116.025908,259.441818,02/01/1995,1995-02-01 15:12:00,Earth,14.978259,53921.73159,Near Earth asteroid orbits similar to that of ...,3553279,(2010 XB24),898.695526,2.036115e-05
34,34,3825428-(2018 MA5),0,14.606796,32.661790,02/01/1995,1995-02-01 03:28:00,Earth,6.402162,23047.78324,Near Earth asteroid orbits similar to that of ...,3825428,(2018 MA5),384.129721,2.563317e-06
35,35,3639467-(2013 LC1),0,44.111820,98.637028,02/01/1995,1995-02-01 19:37:00,Earth,11.580236,41688.85075,An asteroid orbit contained entirely within th...,3639467,(2013 LC1),694.814179,7.741095e-06
36,36,3703059-(2014 YE15),0,5.815070,13.002893,02/01/1995,1995-02-01 13:00:00,Earth,15.112868,54406.32626,Near Earth asteroid orbits similar to that of ...,3703059,(2014 YE15),906.772104,1.020475e-06
37,37,3943319-(2019 YS),0,1.332156,2.978791,02/01/1995,1995-02-01 22:41:00,Earth,2.975535,10711.92622,Near Earth asteroid orbits which cross the Ear...,3943319,(2019 YS),178.532104,2.337773e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,328,2267136-267136 (2000 EF104),0,441.118200,986.370281,21/02/1995,1995-02-21 04:17:00,Earth,16.180392,58249.41019,Near Earth asteroid orbits similar to that of ...,2267136,267136 (2000 EF104),970.823503,7.741095e-05
329,329,3360486-(2006 WE4),0,441.118200,986.370281,21/02/1995,1995-02-21 15:44:00,Earth,15.106140,54382.10464,Near Earth asteroid orbits which cross the Ear...,3360486,(2006 WE4),906.368411,7.741095e-05
330,330,3656919-(2014 BG3),0,160.160338,358.129403,21/02/1995,1995-02-21 12:08:00,Earth,20.343173,73235.42352,An asteroid orbit contained entirely within th...,3656919,(2014 BG3),1220.590392,2.810622e-05
331,331,3803762-(2018 GY4),0,421.264611,941.976306,21/02/1995,1995-02-21 12:54:00,Earth,29.732426,107036.73310,Near Earth asteroid orbits similar to that of ...,3803762,(2018 GY4),1783.945551,7.392688e-05
332,332,3989652-(2020 CH1),0,21.525586,48.132673,21/02/1995,1995-02-21 22:15:00,Earth,6.998083,NaN,Near Earth asteroid orbits similar to that of ...,3989652,(2020 CH1),NaN,3.777482e-06

Pídele a tu experta la función de verificación `checar_subconjuntos` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado:

In [8]:
def checar_subconjuntos(df_february, df_hazardous, df_bigger_than_1000):
    
    import pandas as pd

    assert (df_hazardous['is_potentially_hazardous_asteroid'] == 0).sum() == 0, 'Algunos records en `df_hazardous` pertenecen a objetos donde is_potentially_hazardous_asteroid es `False`'
    assert (df_hazardous['is_potentially_hazardous_asteroid'] == 1).sum() > 0, 'No hay ningun record en `df_hazardous` donde is_potentially_hazardous_asteroid sea `True`'
    
    assert (df_bigger_than_1000['estimated_diameter.meters.estimated_diameter_max'] <= 1000).sum() == 0, 'Algunos records en `df_bigger_than_1000` pertenecen a objetos con diámetro menor a 1000 metros'
    assert (df_bigger_than_1000['estimated_diameter.meters.estimated_diameter_max'] > 1000).sum() > 0, 'No hay ningún record en `df_bigger_than_1000` que pertenezca a objetos con diámetro mayor a 1000 metros'
    
    february = pd.to_datetime('1995-02-01', format='%Y-%m-%d').timestamp() * 1000
    march = pd.to_datetime('1995-03-01', format='%Y-%m-%d').timestamp() * 1000 
    
    assert (df_february['epoch_date_close_approach'] < february).sum() == 0, 'Algunos records de `df_february` pertenecen a meses anteriores a Febrero de 1995'
    assert (df_february['epoch_date_close_approach'] >= march).sum() == 0, 'Algunos records de `df_february` pertenecen a meses posteriores a Febrero de 1995'
    
    print('Todos tus subconjuntos son correctos. ¡Gran trabajo!')

checar_subconjuntos(df_february, df_hazardous, df_bigger_than_1000)

TypeError: Invalid comparison between dtype=datetime64[ns] and float

<details><summary>Solución</summary>

```python
df = pd.read_csv('../../Datasets/near_earth_objects-jan_feb_1995-raw.csv', index_col=0)
df_hazardous = df[df['is_potentially_hazardous_asteroid'] == 1]
df_bigger_than_1000 = df[df['estimated_diameter.meters.estimated_diameter_max'] > 1000]
february = pd.to_datetime('1995-02-01', format='%Y-%m-%d').timestamp() * 1000
march = pd.to_datetime('1995-03-01', format='%Y-%m-%d').timestamp() * 1000 
greater_or_equal_than_february = df['epoch_date_close_approach'] >= february
less_than_march = df['epoch_date_close_approach'] < march
df_february = df[greater_or_equal_than_february & less_than_march]
```
    
</details>