## Ejemplo 3: Operaciones numéricas

### 1. Objetivos:

- Mostrar cómo usar los operadores aritméticos
- Practicar asignación de variables y output de celdas

---

### 2. Desarrollo:

Primero asignemos unas variables:

In [ ]:
var_1 = 4
var_2 = 54
var_3 = 23
var_4 = 89

Para realizar operaciones numéricas con estas variables, basta con escribir la operación en una celda y correrla. Veremos el resultado como output debajo de la celda:

In [ ]:
var_1 + var_2

58

In [ ]:
var_2 - var_4

-35

In [ ]:
var_3 * var_1

92

In [ ]:
var_4 / var_2

1.6481481481481481

In [ ]:
var_2 ** var_1

8503056

Si queremos imprimir más de una operación en la misma celda, podemos usar la función `print`:

In [ ]:
print(var_1 + var_2)
print(var_3 - var_4)
print(var_2 * var_2)

58
-66
2916

También podemos asignar los resultados de nuestras operaciones a otras variables:

In [ ]:
resultado_suma = var_1 + var_3

resultado_suma

27

In [ ]:
resultado_resta = var_4 - var_2

resultado_resta

35

¡Hora de practicar!