
# Postwork
Para crear un proyecto de regresión lineal, puede que necesites un dataset. Puedes obtener un dataset en formato CSV desde quandl.com, te recomiendo el siguiente: Cambio de peso y dólar

https://www.quandl.com/data/BDM/SF60653-Exchange-rate-pesos-per-US-dollar-Used-to-settle-liabilities-denominated-in-foreign-currency-Date-of-settlement-Available-Period-11-14-1991-09-29-2020

- Una vez que tengas el dataset, debes de separarlo en registros para el regresor lineal, y luego separar los registros en entrenamiento / prueba, como lo vimos en clase. Toma en cuenta que vas a modificar los pesos sinápticos del regresor lineal con los datos de entrenamiento, y luego vas a probar que los datos de prueba se ajusten a los del entrenamiento. 

- Calcula el error cuadrático medio de los datos de prueba y compáralos contra el error cuadrático medio de los datos de entrenamiento. ¿Varía bastante no? Ahora, compara los datos esperados de predicción con los datos obtenidos de tu regresor lineal. 

- ¿Si tuvieras más datos, podrías realizar una mejor predicción? Piensa qué podrías hacer para mejorar tus algoritmos predictivos.

In [1]:
import requests
import pandas as pd
import io

endpoint = 'https://www.quandl.com/api/v3/datasets/BDM/SF60653.csv?api_key=fZJDuxFPv7PHAXYsgzj6'
payload = {'api_key': 'fZJDuxFPv7PHAXYsgzj6'} # Es un identificador

r = requests.get(endpoint, params=payload)
r.status_code

data = r.content
df = pd.read_csv(io.StringIO(data.decode('utf-8')))

In [7]:
df.head()

         Date    Value
0  2021-05-11  19.9223
1  2021-05-10  20.1838
2  2021-05-09  20.1838
3  2021-05-08  20.1838
4  2021-05-07  20.2077

In [9]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import MLUtilities as mlu

In [17]:
x, y = mlu.transformarSerieADataset(df["Value"], elementosPorMuestra = 10)

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.4, random_state=5)

In [27]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)

y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento     MSE = "+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas           MSE = "+str(MSE))

Entrenamiento     MSE = 0.007012064428532451
Pruebas           MSE = 0.0074508386444790105

In [28]:
df_predicciones = pd.DataFrame({'valor real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

   valor real  prediccion  diferencia
0     15.3397   15.358982   -0.019282
1     19.5608   19.585583   -0.024783
2     18.2742   18.265426    0.008774
3     16.8566   16.849972    0.006628
4      9.3158    9.358907   -0.043107
5     10.3925   10.345737    0.046763
6      3.3613    3.379186   -0.017886
7     18.5515   18.523084    0.028416
8     10.3848   10.392432   -0.007632
9      7.8243    7.805564    0.018736