## Ejemplo 2: Consultas a la base de datos y construcción de `DataFrames`

### 1. Objetivos:
    - Realizar consultas a la base de datos y construir un `DataFrame` para cada tabla.
 
---
    
### 2. Desarrollo:

#### a) Tablas a `DataFrames`

Ya que tenemos nuestra conexión, basta con usar el comando `SELECT * FROM nombre_de_tabla` para pedir todos los datos que hay en cada tabla:

In [1]:
import mysql.connector
import pandas as pd

In [70]:
cnx = mysql.connector.connect(
    host="bedu-llt-2101.cqoiqc8blzss.us-east-2.rds.amazonaws.com",
    port=3306,
    user="lldlt",
    password='***',
    database='proyecto'
)

In [84]:
cursor = cnx.cursor()

In [93]:
query = """ 
SELECT HeatNumber, PowerOn, PowerOff
FROM horno1

"""

cursor.execute(query)

In [94]:
result = cursor.fetchall()

Si recuerdas el último ejemplo, `fetchall` nos regresa una `lista` de `tuplas`. Cada `tupla` representa una fila de nuestro conjunto de datos:

In [95]:
result[0]

(1, Decimal('33.0'), Decimal('11.900000'))

Afortunadamente `pandas` puede recibir justamente `listas` de `tuplas` como ingredientes para construir `DataFrames`. Sólo hace falta indicarle el nombre de las columnas. Los nombres de las columnas están especificados en el [archivo Readme.md](../../Datasets/MovieLens/Readme.md) que venía incluido con el dataset:

df = pd.DataFrame(result, columns=['user_id', 'gender', 'age', 'occupation', 'cp'])

In [96]:
df = pd.DataFrame(result, columns=['HeatNumber','PowerOn','PowerOff'])

In [97]:
df.head()

   HeatNumber PowerOn   PowerOff
0           1    33.0  11.900000
1           2    32.0  27.700000
2           3    32.4  13.500000
3           4    32.9  14.600000
4           5    32.8  17.600000

Creo que sería una buena idea convertir la columna `user_id` en índice para no tener información redundante:

In [98]:
df = df.set_index('HeatNumber', drop=True)

df.head()

           PowerOn   PowerOff
HeatNumber
1             33.0  11.900000
2             32.0  27.700000
3             32.4  13.500000
4             32.9  14.600000
5             32.8  17.600000

¡Listo! Vamos a guardar nuestros `DataFrames` en archivos .csv para que no haga falta volver a extraerlos de la base de datos. Ya podemos decirle adiós a nuestro fiel MySQL. ¡Chao, bellisimo!